* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  -webkit-user-select: none;
  font-family: sans-serif;
  line-height: 1.4;
}

body, html {
  height: var(--app-height);
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#0081f8), to(#0096ff));
  background: linear-gradient(#0081f8, #0096ff);
  z-index: -99;
}

button {
  cursor: pointer;
}

.move-pages {
  -webkit-animation-name: movePages;
          animation-name: movePages;
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes movePages {
  to {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@keyframes movePages {
  to {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

.game-area {
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 3500ms ease-in-out;
  transition: -webkit-transform 3500ms ease-in-out;
  transition: transform 3500ms ease-in-out;
  transition: transform 3500ms ease-in-out, -webkit-transform 3500ms ease-in-out;
}

/* Start Game page */
.home-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: -webkit-transform 3500ms ease-in-out;
  transition: -webkit-transform 3500ms ease-in-out;
  transition: transform 3500ms ease-in-out;
  transition: transform 3500ms ease-in-out, -webkit-transform 3500ms ease-in-out;
}

.home-page .sign-holder {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  max-width: 500px;
  z-index: -1;
  -webkit-transition: 1250ms all ease-in-out;
  transition: 1250ms all ease-in-out;
  margin: -10px auto 50px auto;
}

.home-page svg {
  width: 100%;
  max-width: 500px;
  height: auto;
  -webkit-animation-name: sign;
          animation-name: sign;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes sign {
  0% {
    -webkit-transform: rotate(2deg) translate(-10px);
            transform: rotate(2deg) translate(-10px);
  }
  50% {
    -webkit-transform: rotate(-2deg) translate(10px);
            transform: rotate(-2deg) translate(10px);
  }
  100% {
    -webkit-transform: rotate(2deg) translate(-10px);
            transform: rotate(2deg) translate(-10px);
  }
}

@keyframes sign {
  0% {
    -webkit-transform: rotate(2deg) translate(-10px);
            transform: rotate(2deg) translate(-10px);
  }
  50% {
    -webkit-transform: rotate(-2deg) translate(10px);
            transform: rotate(-2deg) translate(10px);
  }
  100% {
    -webkit-transform: rotate(2deg) translate(-10px);
            transform: rotate(2deg) translate(-10px);
  }
}

.home-page .description-holder {
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #0081f8;
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto 20px auto;
}

.home-page .description-holder h2 {
  font-size: 20px;
  font-family: "Julius Sans One", sans-serif;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.home-page .description-holder p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.home-page .description-holder p span {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
}

.home-page button {
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
  font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  color: #fff;
  background: #32936F;
  border: none;
  display: block;
  border-radius: 15px;
  padding: 20px;
}

.sign-holder {
  -webkit-filter: drop-shadow(-5px 10px 2.5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-5px 10px 2.5px rgba(0, 0, 0, 0.3));
}

.sign-holder .sign-string {
  stroke-width: 10px;
  stroke: #654321;
}

.sign-holder tspan {
  font-size: 60px;
  font-family: "Julius Sans One", sans-serif;
  fill: #fff;
}

.cloud-container {
  position: absolute;
  height: 100vh;
  top: 0;
  left: -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 1500ms all ease-in-out;
  transition: 1500ms all ease-in-out;
}

.cloud-container .cloud {
  -webkit-filter: drop-shadow(-5px 10px 2.5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-5px 10px 2.5px rgba(0, 0, 0, 0.3));
  width: 200px;
  -webkit-animation-name: cloud;
          animation-name: cloud;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: -2;
}

.home-page .cloud-container img:nth-child(2) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.home-page .cloud-container img:nth-child(3) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.home-page .cloud-container img:nth-child(4) {
  -webkit-animation-delay: 31s;
          animation-delay: 31s;
}

.game-area .cloud-container {
  height: 80vh;
  top: 0;
}

.game-area .cloud-container img:nth-child(1) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.game-area .cloud-container img:nth-child(2) {
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}

.game-area .cloud-container img:nth-child(3) {
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
}

.cloud-container img:nth-child(1) {
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
}

.cloud-container img:nth-child(2) {
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
}

.cloud-container img:nth-child(3) {
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
}

.cloud-container img:nth-child(4) {
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
}

@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(100vw + 200px));
            transform: translateX(calc(100vw + 200px));
  }
}

@keyframes cloud {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(100vw + 200px));
            transform: translateX(calc(100vw + 200px));
  }
}

nav {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  z-index: 10;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  float: right;
}

nav ul li button {
  margin: 0 20px;
  border: none;
  background: none;
  color: #fff;
  font-size: 18px;
  font-family: "Julius Sans One", sans-serif;
}

.sky-instructions {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
  top: 200px;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  background: #0081f8;
  padding: 20px;
  border-radius: 10px;
}

.sky-instructions p {
  font-size: 20px;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.meeple {
  -webkit-filter: drop-shadow(-5px 10px 2.5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-5px 10px 2.5px rgba(0, 0, 0, 0.3));
  position: absolute;
  width: 60px;
  height: 60px;
  text-align: center;
  stroke: #fff;
  stroke-width: 0.5px;
  opacity: 1;
  -webkit-transition: 150ms opacity ease-in-out;
  transition: 150ms opacity ease-in-out;
}

.meeple svg {
  width: 50px;
  height: 50px;
}

.meeple text {
  fill: #fff;
  stroke: none;
  font-size: 24px;
  font-family: "Julius Sans One", sans-serif;
}

.meeple-hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
}

.placeholder-left,
.placeholder-right {
  width: 50px;
  height: 50px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.2);
}

.invisible {
  -webkit-animation-name: invisible;
          animation-name: invisible;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.visible {
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes invisible {
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes invisible {
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#historyContainer {
  width: 100%;
  position: absolute;
  padding: 10px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  top: 50px;
  text-align: center;
  z-index: -2;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

#historyContainer h2 {
  grid-column: span 2;
  font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  color: #0B0A07;
}

#historyContainer h3 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  color: #0B0A07;
}

#firstHistory, #secondHistory {
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms opacity ease-in-out;
  transition: 250ms opacity ease-in-out;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  background: #005698;
  border-radius: 20px;
}

#firstHistory h3, #secondHistory h3 {
  margin-bottom: 10px;
  color: #fff;
}

#firstHistory svg, #secondHistory svg {
  width: 100%;
}

#seesawLog {
  -webkit-filter: drop-shadow(-5px 10px 2.5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-5px 10px 2.5px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
}

#Layer_1 {
  width: 80%;
  max-width: 900px;
}

.history_weigh-area {
  fill: #005698;
}

.history-wood {
  fill: url(#wood);
  stroke: #8b5e3c;
  stroke-miterlimit: 10;
}

.history_meeple-outline {
  stroke: #fff;
  stroke-width: 0.5px;
}

.double-digits {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}

.cls-4 {
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
}

.FH_left-meeple,
.FH_right-meeple,
.SH_left-meeple,
.SH_right-meeple {
  fill: none;
  stroke-width: 0.3px;
}

.FH_text,
.SH_text {
  stroke: none !important;
  font-size: 20px;
  fill: #fff;
  font-family: "Julius Sans One", sans-serif;
}

.canvas-lighter {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.canvas-heavier {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.lighter {
  -webkit-animation-name: lighter;
          animation-name: lighter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.wobble {
  -webkit-animation-name: wobble;
          animation-name: wobble;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.heavier {
  -webkit-animation-name: heavier;
          animation-name: heavier;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.last-heavier {
  -webkit-animation-name: last-heavier;
          animation-name: last-heavier;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.last-lighter {
  -webkit-animation-name: last-lighter;
          animation-name: last-lighter;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#ss-left, #ss-right {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 225px;
  height: 75px;
  top: -75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#ss-right {
  right: 0;
}

#balancer {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background: burlywood;
  top: 20px;
}

.weigh-btn_holder {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weigh-btn_holder button {
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: #32936F;
  color: #fff;
  font-family: "Julius Sans One", sans-serif;
  padding: 10px 20px;
}

.weigh-btn_holder p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.guess-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  font-family: "Julius Sans One", sans-serif;
  background: #32936F;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg) translatex(8px);
            transform: rotate(2deg) translatex(8px);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-2deg) translatex(-8px);
            transform: rotate(-2deg) translatex(-8px);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg) translatex(8px);
            transform: rotate(2deg) translatex(8px);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-2deg) translatex(-8px);
            transform: rotate(-2deg) translatex(-8px);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes heavier {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(2deg) translatex(-8px);
            transform: rotate(2deg) translatex(-8px);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37.5% {
    -webkit-transform: rotate(-2deg) translatex(8px);
            transform: rotate(-2deg) translatex(8px);
  }
  60% {
    -webkit-transform: rotate(-20deg) translate(80px, 12px);
            transform: rotate(-20deg) translate(80px, 12px);
  }
  90% {
    -webkit-transform: rotate(-20deg) translate(80px, 12px);
            transform: rotate(-20deg) translate(80px, 12px);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes heavier {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(2deg) translatex(-8px);
            transform: rotate(2deg) translatex(-8px);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37.5% {
    -webkit-transform: rotate(-2deg) translatex(8px);
            transform: rotate(-2deg) translatex(8px);
  }
  60% {
    -webkit-transform: rotate(-20deg) translate(80px, 12px);
            transform: rotate(-20deg) translate(80px, 12px);
  }
  90% {
    -webkit-transform: rotate(-20deg) translate(80px, 12px);
            transform: rotate(-20deg) translate(80px, 12px);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes lighter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(-2deg) translatex(8px);
            transform: rotate(-2deg) translatex(8px);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37.5% {
    -webkit-transform: rotate(2deg) translatex(-8px);
            transform: rotate(2deg) translatex(-8px);
  }
  60% {
    -webkit-transform: rotate(20deg) translate(-75px, 10px);
            transform: rotate(20deg) translate(-75px, 10px);
  }
  90% {
    -webkit-transform: rotate(20deg) translate(-75px, 10px);
            transform: rotate(20deg) translate(-75px, 10px);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes lighter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(-2deg) translatex(8px);
            transform: rotate(-2deg) translatex(8px);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37.5% {
    -webkit-transform: rotate(2deg) translatex(-8px);
            transform: rotate(2deg) translatex(-8px);
  }
  60% {
    -webkit-transform: rotate(20deg) translate(-75px, 10px);
            transform: rotate(20deg) translate(-75px, 10px);
  }
  90% {
    -webkit-transform: rotate(20deg) translate(-75px, 10px);
            transform: rotate(20deg) translate(-75px, 10px);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* Animations for last weighing */
@-webkit-keyframes last-heavier {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg) translatex(-8px);
            transform: rotate(2deg) translatex(-8px);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-2deg) translatex(8px);
            transform: rotate(-2deg) translatex(8px);
  }
  100% {
    -webkit-transform: rotate(-20deg) translate(80px, 12px);
            transform: rotate(-20deg) translate(80px, 12px);
  }
}
@keyframes last-heavier {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg) translatex(-8px);
            transform: rotate(2deg) translatex(-8px);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-2deg) translatex(8px);
            transform: rotate(-2deg) translatex(8px);
  }
  100% {
    -webkit-transform: rotate(-20deg) translate(80px, 12px);
            transform: rotate(-20deg) translate(80px, 12px);
  }
}

@-webkit-keyframes last-lighter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-2deg) translatex(8px);
            transform: rotate(-2deg) translatex(8px);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(2deg) translatex(-8px);
            transform: rotate(2deg) translatex(-8px);
  }
  100% {
    -webkit-transform: rotate(20deg) translate(-75px, 10px);
            transform: rotate(20deg) translate(-75px, 10px);
  }
}

@keyframes last-lighter {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-2deg) translatex(8px);
            transform: rotate(-2deg) translatex(8px);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(2deg) translatex(-8px);
            transform: rotate(2deg) translatex(-8px);
  }
  100% {
    -webkit-transform: rotate(20deg) translate(-75px, 10px);
            transform: rotate(20deg) translate(-75px, 10px);
  }
}

#drag-1, #drag-2 {
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

#captureContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 500px;
  width: 100%;
}

#capture {
  position: relative;
  width: 100%;
  height: 100%;
}

#image {
  width: 500px;
  height: auto;
}

#preventClick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.screenshot-border {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 90px;
  border: 1px solid white;
  width: 1000px;
  height: 330px;
}

.seesaw {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 220px;
  width: 90%;
  max-width: 900px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.seesaw .dropzone {
  background-color: rgba(0, 0, 0, 0.4);
  border: solid 4px transparent;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}

.seesaw .drop-active {
  border-color: rgba(0, 0, 0, 0.4);
}

.seesaw .drop-target {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
}

.seesaw svg {
  grid-column: span 2;
  width: 100%;
  height: 50px;
}

.seesaw-and-meeples {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.dropped-guess {
  background-color: #32936F !important;
}

.drag-drop {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.hidden {
  display: none;
}

.all-meeples {
  z-index: 10;
}

.solution-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.close-solution {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  z-index: 99;
}

.solution-holder {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
  top: 60px;
  width: 90%;
  max-width: 500px;
  height: 100%;
  max-height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.solution-holder .solution {
  position: relative;
  width: 100%;
  height: 400%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.solution-holder .solution .page {
  position: relative;
  color: #fff;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 100%;
  background: #005698;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px 10px;
}

.solution-holder .solution .page .solution-title h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #32936F;
}

.solution-holder .solution .page .solution-title h3, .solution-holder .solution .page .solution-title h4, .solution-holder .solution .page .solution-title sup {
  font-size: 16px;
  font-family: "Julius Sans One", sans-serif;
}

.solution-holder .solution .page .solution-title sup {
  font-size: xx-small;
}

.solution-holder .solution .page p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin: 20px auto;
}

.solution-holder .solution .page p sup {
  font-size: xx-small;
  font-family: "Raleway", sans-serif;
}

.solution-holder .solution .page .back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 22.4px;
  height: 22.4px;
  overflow: hidden;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-radius: 5px;
  background: #32936F;
  cursor: pointer;
}

.solution-holder .solution .page svg {
  width: 95%;
  height: 95%;
}

.solution-holder .solution .page .arrow-line {
  stroke: #fff;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.solution-holder .solution .page .next-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.solution-holder .solution .page .next-page p {
  grid-column: span 2;
}

.solution-holder .solution .page .next-page button {
  font-family: "Julius Sans One", sans-serif;
  font-size: 16px;
  background: #32936F;
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
}

.solution-holder .solution .page .next-page #solutionHome {
  grid-column: span 2;
}

.solution-holder .solution img {
  width: 90%;
  border-radius: 10px;
}

.meeple-area {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.meeple-area .meeple-background {
  width: 360px;
  height: 130px;
  background: #0B0A07;
  border: 1px solid #0B0A07;
  border-radius: 5px;
  z-index: -1;
}

.meeple-area .meeple-reset {
  font-size: 18px;
  padding: 5px 10px;
  font-family: "Julius Sans One", sans-serif;
  border: none;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #32936F;
  color: #fff;
  margin: 10px auto 0px auto;
}

.meeple:nth-child(1) {
  bottom: 125px;
  left: 10px;
}

.meeple:nth-child(2) {
  bottom: 125px;
  left: 70px;
}

.meeple:nth-child(3) {
  bottom: 125px;
  left: 130px;
}

.meeple:nth-child(4) {
  bottom: 125px;
  left: 190px;
}

.meeple:nth-child(5) {
  bottom: 125px;
  left: 250px;
}

.meeple:nth-child(6) {
  bottom: 125px;
  left: 310px;
}

.meeple:nth-child(7) {
  bottom: 65px;
  left: 10px;
}

.meeple:nth-child(8) {
  bottom: 65px;
  left: 70px;
}

.meeple:nth-child(9) {
  bottom: 65px;
  left: 130px;
}

.meeple:nth-child(10) {
  bottom: 65px;
  left: 190px;
}

.meeple:nth-child(11) {
  bottom: 65px;
  left: 250px;
}

.meeple:nth-child(12) {
  bottom: 65px;
  left: 310px;
}

.sand {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 190px;
  background-color: #f8f0a4;
  background-image: url("images/sand.png");
  z-index: -10;
}

#seesawBase {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-filter: drop-shadow(-10px -5px 10px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-10px -5px 10px rgba(0, 0, 0, 0.3));
  bottom: 120px;
  height: 125px;
  width: 150px;
  z-index: -1;
}

#seesawBase .round {
  stroke: url(#wood);
  stroke-width: 10px;
  stroke-linejoin: round;
}

.notepad-holder {
  display: block;
  display: none;
  position: absolute;
  right: 20px;
  bottom: 100px;
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  z-index: 10;
}

.notepad-move {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.notepad {
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 400px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 2000px;
          perspective: 2000px;
}

.flip-page, .writing-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 400px;
  background-color: #f8f8f5;
  background-image: url("images/paper.png");
  border: 0.5px solid #454545;
  border-radius: 10px;
}

.back-cover {
  background-color: #583719;
  background-image: url("images/notepad-cover.png");
  -webkit-animation-delay: 1ms;
          animation-delay: 1ms;
}

.front-cover {
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  background-color: #a66226;
  background-image: url("images/notepad-cover.png");
  border: 5px solid #454545;
  width: 300px;
  height: 400px;
  z-index: 99;
}

.flip-page:nth-child(2) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.flip-page:nth-child(3) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.flip-page:nth-child(4) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.writing-area {
  background-color: #fff;
  background-image: url("images/paper.png");
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.writing-area .notepad-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: "Chilanka", cursive;
  font-size: 20px;
  color: #454545;
  text-align: center;
  cursor: pointer;
}

.writing-area .notepad-close:hover {
  font-weight: 600;
  color: #0B0A07;
}

.writing-area label {
  opacity: 0;
}

.writing-area textarea {
  width: 100%;
  height: calc(100% - 25px);
  background: none;
  margin: 25px auto 0 auto;
  border: none;
  font-size: 20px;
  font-family: "Chilanka", cursive;
  color: #454545;
  resize: none;
  outline: none;
}

.back {
  width: 303px;
  height: 407px;
  position: absolute;
  top: -3px;
  left: -2px;
  background: #A5A5A5;
  border: 5px solid #454545;
  z-index: -10;
  border-radius: 10px;
}

.open-notepad {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-name: notepad-open;
          animation-name: notepad-open;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.open-cover {
  -webkit-animation-name: notepad-cover-open;
          animation-name: notepad-cover-open;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.close-cover {
  -webkit-animation-name: notepad-cover-close;
          animation-name: notepad-cover-close;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-duration: 1.251s;
          animation-duration: 1.251s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.close-notepad {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-name: notepad-close;
          animation-name: notepad-close;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes notepad-cover-open {
  from {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  to {
    -webkit-transform: rotateX(350deg) skewX(3deg);
            transform: rotateX(350deg) skewX(3deg);
  }
}

@keyframes notepad-cover-open {
  from {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  to {
    -webkit-transform: rotateX(350deg) skewX(3deg);
            transform: rotateX(350deg) skewX(3deg);
  }
}

@-webkit-keyframes notepad-open {
  from {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  to {
    -webkit-transform: rotateX(349deg) skewX(3deg);
            transform: rotateX(349deg) skewX(3deg);
  }
}

@keyframes notepad-open {
  from {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  to {
    -webkit-transform: rotateX(349deg) skewX(3deg);
            transform: rotateX(349deg) skewX(3deg);
  }
}

@-webkit-keyframes notepad-close {
  from {
    -webkit-transform: rotateX(349deg) skewX(3deg);
            transform: rotateX(349deg) skewX(3deg);
  }
  to {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes notepad-close {
  from {
    -webkit-transform: rotateX(349deg) skewX(3deg);
            transform: rotateX(349deg) skewX(3deg);
  }
  to {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@-webkit-keyframes notepad-cover-close {
  from {
    -webkit-transform: rotateX(350deg) skewX(3deg);
            transform: rotateX(350deg) skewX(3deg);
  }
  to {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes notepad-cover-close {
  from {
    -webkit-transform: rotateX(350deg) skewX(3deg);
            transform: rotateX(350deg) skewX(3deg);
  }
  to {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.guess-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.guess-background .guess-container {
  -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 900px;
  height: 90%;
  max-height: 800px;
  border-radius: 5px;
  background: #005698;
  padding: 20px;
}

.guess-background .guess-container h2 {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.guess-background .guess-container .guess-grid {
  margin: 5px auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  min-width: 180px;
  width: 80%;
  height: 50%;
  max-width: 280px;
  min-height: 245px;
  max-height: 210px;
}

.guess-background .guess-container .guess-grid input[type="radio"] {
  opacity: 0;
  display: none;
}

.guess-background .guess-container .guess-grid input[type="radio"]:checked ~ label svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 99;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.guess-background .guess-container .guess-grid label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.guess-background .guess-container .guess-grid svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  stroke: #fff;
  stroke-width: 0.5px;
  -webkit-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}

.guess-background .guess-container .guess-grid svg text {
  fill: #fff;
  stroke: none;
  font-size: 24px;
  font-family: "Julius Sans One", sans-serif;
}

.guess-background .guess-container .guess-weight {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.guess-background .guess-container .guess-weight input[type="radio"] {
  opacity: 0;
  display: none;
}

.guess-background .guess-container .guess-weight input[type="radio"]:checked ~ label {
  color: #fff;
}

.guess-background .guess-container .guess-weight .guess-lighter, .guess-background .guess-container .guess-weight .guess-heavier {
  width: 50%;
  text-align: center;
}

.guess-background .guess-container .guess-submit {
  margin: 0 auto;
  padding: 10px 20px;
  background: #32936F;
  font-family: "Julius Sans One", sans-serif;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
}

.grayscale {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.grayscale-black {
  -webkit-filter: grayscale(90%) invert(10%);
          filter: grayscale(90%) invert(10%);
}
/*# sourceMappingURL=style.css.map */